body {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif; }

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(50, 50, 50, 0.9);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  z-index: 1; }
  nav.navbar ul {
    list-style: none; }
    nav.navbar ul li {
      display: inline-block; }
      nav.navbar ul li.brand {
        font-family: 'Spinnaker', Arial, sans-serif;
        font-size: 40px;
        font-weight: bold;
        color: white;
        margin-top: -10px; }
      nav.navbar ul li.options {
        float: right;
        margin: 7px 20px 0 0;
        color: white; }
      nav.navbar ul li a {
        text-decoration: none;
        color: white; }

.header-image {
  background-image: url("/nonprofit_giving_app/assets/images/owl-header.jpeg");
  background-size: cover;
  width: 100%;
  height: 580px; }

#profiles {
  margin: 0 auto;
  overflow: auto; }
  #profiles h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    margin: 30px 50px 0 50px;
    font-weight: normal;
    background: #AAAAAA;
    padding: 20px 50px;
    color: #444444;
    border: 1px black solid; }

ul#organization_profiles {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  margin: 50px 0;
  list-style: none; }
  ul#organization_profiles li {
    display: inline;
    margin: 8px;
    float: left;
    border: 1px solid #444444;
    padding: 20px 40px;
    border-radius: 4px; }
    ul#organization_profiles li img {
      width: 370px;
      height: 245px;
      margin: 5px; }
    ul#organization_profiles li a {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 22px;
      color: #444444;
      text-decoration: none; }
      ul#organization_profiles li a:hover {
        text-decoration: underline; }

#profile-show {
  margin: 30px;
  font-size: 20px; }
  #profile-show img {
    width: 65%;
    height: auto; }
  #profile-show h1 {
    font-size: 2.25em; }
  #profile-show h2 {
    font-size: 1.5em; }
  #profile-show p {
    font-size: 24px; }
  #profile-show .campaigns {
    position: absolute;
    right: 0;
    top: 600px;
    width: 30%;
    border-left: 1px solid gray;
    padding: 20px; }
    #profile-show .campaigns h4 {
      font-size: 1.5em;
      padding: 20px;
      border: inset;
      text-align: center; }
    #profile-show .campaigns .campaign-show {
      margin: 30px 0; }
      #profile-show .campaigns .campaign-show h5 {
        font-size: 1.25em;
        margin: 40px 0 30px 0; }
      #profile-show .campaigns .campaign-show h6 {
        font-size: 20px;
        font-weight: normal;
        margin: 30px 0; }
      #profile-show .campaigns .campaign-show p {
        font-size: 0.9em;
        margin-bottom: 30px; }
      #profile-show .campaigns .campaign-show a {
        padding: 10px 25px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        background: #444444;
        margin: 15px; }

/*# sourceMappingURL=nonprofit-giving-app.css.map */