<nav class="navbar">
  <ul>
    <li class="brand">{{#link-to 'organization_profiles.index'}}Give Back{{/link-to}}</li>
    <li class="options">Register</li>
    <li class="options">User Sign In</li>
    <li class="options">Organization Sign In</li>
    <li class="options">Find a Cause</li>
  </ul>
</nav>
<div class="header-image"></div>

{{outlet}}
